<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<h1>This is the inside store</h1>
<div class="list-1">
    {% for E in ebook%}
        <div class="book_body">
            <iframe  class="book_image" height="60%" width="100%;" src="{{E.video}}" frameborder="0" allow="autoplay; fullscreen" scrolling="no"></iframe>
            <img class="book_image" src="{{E.video}}" alt="">
            <div class="book_title">{{E.title}}</div>
            <div class="book_price">{{E.rating}}</div>
            <form action="store/cart_add_items" method="POST">
                <button type="submit" name="bookid" value="{{E.id}}">watch later</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}