<!DOCTYPE html>
{% extends 'base.html' %}


{% block content %}

<div class="list-1">
    {% for S in searchitem1 %}
        <div class="book_body">
            <iframe  class="book_image" height="60%" width="100%;" src="{{S.video}}" frameborder="0" allow="autoplay; fullscreen" scrolling="no"></iframe>
            <img class="book_image" src="{{S.video}}" alt="">
            <div class="book_title">{{S.title}}</div>
            <div class="book_price">{{S.rating}}</div>
        </div>
    {% endfor %}
</div>
{% for b in a %}
<h1>{{b}}</h1> 
{% endfor %}   
{% endblock %}